---
const { title, description } = Astro.props;
import { getImage } from "astro:assets";
import faviconSrc from "../images/favicon.png";
import faviconSvgSrc from "../../public/favicon.svg";
import { ViewTransitions } from "astro:transitions";
import { getAllMetaData } from "../lib/api";
const metaData = await getAllMetaData();
const appleTouchIcon = await getImage({
  src: faviconSrc,
  width: 180,
  height: 180,
  format: "png",
});
const faviconSvg = await getImage({ src: faviconSvgSrc, format: "svg" });
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <meta name="robots" content="index" />

  <title>{title}</title>
  <meta name="description" content={description} />
  <link
    rel="icon"
    type="image/svg"
    sizes="32X32"
    href="../images/favicon.png"
  />
  <!-- ligthgallery styles -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/lightgallery@2.0.1/css/lightgallery-bundle.css"
    integrity="sha256-WR+ulqwZ5yV4YeuSWti+kDOFoK25M84m9GSmAtRXZPU= sha384-vvV3kNxHjN8AEovmXzpf4E0jSHvPYEMfeDE2+ICOjwInHn6RXeV1NEHbiGwQcFfR sha512-lQWNPVtPmeO0RBuGJ0uOv8uKjJSJ6+XI6HuKBfLK90mKGIgW/sCzs0vHyC1csWeG71sFsKM2u097lhMRe2BGtw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

  <link rel="icon" href="../../dist/_astro/favicon.png" sizes="32x32" />
  <link rel="icon" href={faviconSvg.src} type="image/svg+xml" />
  <link rel="apple-touch-icon" href={appleTouchIcon.src} />
  <link rel="mask-icon" href={faviconSvg.src} />
  <link rel="manifest" href="/manifest.json" />
  <link rel="manifest" href="manifest.webmanifest" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet"
  />

  <link
    href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,700;6..96,800&display=swap"
    rel="stylesheet"
  />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gst atic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap"
    rel="stylesheet"
  />

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.2/photoswipe.min.css"
    integrity="sha512-LFWtdAXHQuwUGH9cImO9blA3a3GfQNkpF2uRlhaOpSbDevNyK1rmAjs13mtpjvWyi+flP7zYWboqY+8Mkd42xA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

  <!-- Umami Analytics-->
  <script
    defer
    src="https://cloud.umami.is/script.js"
    data-website-id="e08326e8-ef74-4bae-b63c-4e765ae7a04a"
    crossorigin="anonymous"
    ></script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-4PR8773PTK"
  ></script>

  <!-- Google Tag Manager -->
  <script type="text/partytown">
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-T3Q7R8RM");
  </script>
  <!-- End Google Tag Manager -->

  <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    window.gtag = function gtag() {
      dataLayer.push(arguments);
    };
    gtag("js", new Date());

    gtag("config", "GTM-T3Q7R8RM");
  </script>

  <!-- <link
    rel="preload"
    type="text/javascript"
    <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"
  /> -->

  <script
    is:inline
    src="https://unpkg.com/scrollreveal@4.0.9/dist/scrollreveal.min.js"
  ></script>

  <!-- <script
    defer
    src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.4.2/photoswipe-lightbox.esm.min.js"
    integrity="sha512-Z5y5T62siZB4wxN80Bfmi4QJpZVPKYGAQM1q3XoaUjrzj0ZaJ9W2w5oGF6byXLYQGn/Ytj3CntKdBkKryglHdA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"></script> -->
</head>
